header {
    background: #bbbbbb;
   padding-bottom: 10px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;

}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover {
    color: blanchedalmond;
    text-decoration: underline;
}

.favorite {
   padding: 50px 20px;
    align-self: center;
}

.favorite li {
    display: inline-block;
    text-align: center;
    align-content: center;   
    background: #cccccc;
    margin: 2% 5%;
    padding: 10px 10px; 
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}

.favorite li:hover {
    border-color: purple;
    font-size: 40px;
}

.favorite li:hover h2 {
    font-size: 40px;
    color: purple;
}

.favorite h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.descrição {
    font-size: 20px;
    font-style: italic;
    margin-top: 10px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
    
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}


